.default,
.disabled {
  height: 32px;
  width: 90px;
  font-size: 18px;
}

.small {
  height: 26px;
  width: 70px;
  font-size: 15px;
}

.mini {
  height: 20px;
  width: 55px;
  font-size: 13px;
}

.large {
  height: 38px;
  width: 100px;
  font-size: 20px;
}

.jumbo {
  height: 43px;
  width: 110px;
  font-size: 23px;
}

.default,
.small,
.mini,
.large,
.jumbo,
.disabled {
  font-weight: bold;

  border-radius: 10px;
  border: none;
}

.default,
.small,
.mini,
.large,
.jumbo {
  transition: 0.2s ease-in-out;
}

.disabled {
  opacity: 0.7;
  transform: none !important;
  cursor: not-allowed !important;
}

.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

.right,
.left {
  margin-top: 10px;
}

.right {
  float: right;
  margin-right: 10px;
}

.left {
  float: left;
  margin-left: 10px;
}

.default:hover,
.small:hover,
.mini:hover,
.large:hover,
.jumbo:hover {
  opacity: 0.7;
  transform: scale(1.01);
  cursor: pointer;
}
